<%= javascript_tag do %>
  // This can be quite short when everything uses defaults
  window.humanoid_animations = {
    "skeleton": {},
    "kettle_hat_male": {}
  }

  window.sprite_sheets = [
    {
      name: "terrain_spritesheet",
      images: [ "./terrain.png" ],
      frames: { width:32, height: 32 },
      animations: {}
    }

  ];

  $(window.init_graphics);

  window.on_tick = function() {
    if(window.already_ticked != "true") {

      window.terrain_tilesheet.set_sprites( <%= @tile_data.inspect %> );

      var sprite = new createjs.Sprite(window.sprite_sheets[1].object);
      sprite.gotoAndPlay("walk_left");
      window.stage.addChild(sprite);

      var sprite = new createjs.Sprite(window.sprite_sheets[2].object);
      sprite.gotoAndPlay("walk_left");
      window.stage.addChild(sprite);

      window.already_ticked = "true";
    }
  };
<% end %>

<div id="loader" class="loader"></div>

<h1>Map View</h1>

<canvas id="displayCanvas" width="<%= @width_in_tiles * @tile_width_in_pixels %>"
        height="<%= @height_in_tiles * @tile_height_in_pixels %>"></canvas>
