<%= javascript_tag do %>
  window.humanoid_animations = [
    new Humanoid("skeleton", { direction: "left", action: "walk" }),
    new Humanoid("kettle_hat_male", { direction: "left", action: "walk" })
  ]

  window.sprite_sheet_params = {
      "terrain_spritesheet": {
        images: [ "./terrain.png" ],
        frames: { width:32, height: 32 },
        animations: {}
      }
  };

  $(window.init_graphics);

  window.on_tick = function() {
    if(window.already_ticked != "true") {

      window.terrain_tilesheet.set_sprites( <%= @tile_data.inspect %> );

      //Humanoid.init_with_stage(window.stage);

      var sprite = new createjs.Sprite(window.sprite_sheet_params["skeleton"].sprite_sheet);
      sprite.gotoAndPlay("walk_left");
      window.stage.addChild(sprite);

      var sprite = new createjs.Sprite(window.sprite_sheet_params["kettle_hat_male"].sprite_sheet);
      sprite.gotoAndPlay("walk_left");
      window.stage.addChild(sprite);

      window.already_ticked = "true";
    }
  };
<% end %>

<div id="loader" class="loader"></div>

<h1>Map View</h1>

<canvas id="displayCanvas" width="<%= @width_in_tiles * @tile_width_in_pixels %>"
        height="<%= @height_in_tiles * @tile_height_in_pixels %>"></canvas>
